@model akbkoleso.Models.Product

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input name="original.Id" value="@Model?.Id" type="hidden" />
        <input name="original.Category" value="@Model?.Category" type="hidden" />
        <input name="original.Name" value="@Model?.Name" type="hidden" />
        <input name="original.Price" value="@Model?.Price" type="hidden" />
        <input name="original.RetailPrice" value="@Model?.RetailPrice" type="hidden" />
        <input name="original.InQuantity" value="@Model?.InQuantity" type="hidden" />
        <input name="original.NameImage" value="@Model?.ImagePath" type="hidden" />

        <div class="row">
            <div class="col-md-3">
                <div class="list-group my-4">
                    @await Html.PartialAsync("_LayoutAdmin")
                </div>
            </div>
            <div class="col-md-9">
                <div class="card my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Изменение выбранного товара</h4>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-action="AddProduct" asp-antiforgery="true" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="Category">Категория</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" asp-for="Category" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="Name">Название</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" asp-for="Name" class="form-control" rows="2" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="Price">Закуп</label>
                                        </div>
                                        <div class="col-8">
                                            <input asp-for="Price" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="RetailPrice">Цена</label>
                                        </div>
                                        <div class="col-8">
                                            <input asp-for="RetailPrice" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="InQuantity">Кол-во</label>
                                        </div>
                                        <div class="col-8">
                                            <input asp-for="InQuantity" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label asp-for="ImagePath">Загрузить изображение</label>
                                        </div>
                                        <div class="col-8">
                                            <input asp-for="ImagePath" type="file" name="uploadedFile" class="form-control-file" >
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-info">Изменить</button>
                                        <a asp-action="GetProducts" class="btn btn-secondary">Отмена</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
