@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="row">
    <div class="col-md-3">
        <div class="list-group my-4">
            @await Html.PartialAsync("_LayoutAdmin")
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Список ролей</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td>
                                            <div class="text-right">
                                                <a class="btn btn-outline-info btn-sm" asp-action="DeleteRole" asp-route-id="@role.Id" role="button">Удалить</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a class="btn btn-info" asp-action="CreateRole" role="button">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
