<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-action="GetOrders" class="list-group-item list-group-item-action"> Заказы</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-action="GetUsers" class="list-group-item list-group-item-action"> Пользователи</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-action="GetRoles" class="list-group-item list-group-item-action"> Роли</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-action="GetProducts" class="list-group-item list-group-item-action"> Товар</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-action="AddProduct" class="list-group-item list-group-item-action"> Добавление товаров</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-controller="Catalog_t_w" asp-action="Index" class="list-group-item list-group-item-action"> Каталог по подбру шин и дисков</a>
                    <div class="sb-sidenav-menu-heading"></div>
                    <a asp-controller="CatalogAkb" asp-action="Index" class="list-group-item list-group-item-action"> Каталог по подбру аккумуляторов</a>
                    <div class="sb-sidenav-menu-heading"></div>

                    <a asp-controller="Seed" asp-action="Index" class="list-group-item list-group-item-action" style="color:red">Тестовая база товара</a>
                    <div class="sb-sidenav-menu-heading"></div>
                </div>
            </div>
        </nav>
    </div>
</div>
