
    
        <div class="row justify-content-around">
            <div class="row">
                <div class="col col-sm">
                    <a button="submit" id="buttonA" class="btn btn-outline-brand font-weight-bold" asp-controller="Tyres" asp-action="Index">
                        Автошины
                    </a>
                </div>
                <div class="col col-sm">
                    <a button="submit" id="buttonB" class="btn btn-outline-brand font-weight-bold" asp-controller="Disk" asp-action="Index">
                        Диски
                    </a>
                </div>
                <div class="col col-sm">
                    <a button="submit" id="buttonC" class="btn btn-outline-brand font-weight-bold" asp-controller="Akb" asp-action="Index">
                        Аккумуляторы
                    </a>
                </div>
            </div>
        </div>





   
