@model IEnumerable<akbkoleso.Models.Admin.Catalog.Podbor_akb>

<select id="modification" name="Modification" class="form-control">
    <option value="">--Выберите модификацию--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Modification">@item.Modification</option>
    }
</select>
